In [1]:
import numpy as np
import pandas as pd

In [8]:
s =pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

In [9]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [22]:
s =pd.Series(np.random.randn(5))

In [23]:
s

0   -0.391220
1    0.207161
2    1.240424
3    0.704710
4    0.373122
dtype: float64

In [24]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
d = {'b':1,'a':2,'c':3}

In [26]:
s[0]

-0.39121993180121645

In [27]:
s[1]

0.20716132089819447

In [32]:
s[1:]

1    0.207161
2    1.240424
3    0.704710
4    0.373122
dtype: float64

In [34]:
s[s > s.mean()]

2    1.240424
3    0.704710
dtype: float64

In [36]:
d = {'one': pd.Series([1,2,3], index=['a','b','c']),
     'two': pd.Series([1,2,3,4], index=['a','b','c','d'])
    }

In [44]:
df = pd.DataFrame(d,index=['d','b','c'],columns=['two','three'])

In [45]:
df

   two three
d    4   NaN
b    2   NaN
c    3   NaN